*__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
env/
.venv/

.env
.env.*

.ipynb_checkpoints/
*.ipynb

data/
datasets/
saved_models/
*saved_models/*
app/services/outputs/saved_models

models/*.h5
models/*.pt
models/*.pth
models/*.onnx

logs/
*.log
results/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pid
docker-data/

*.tar.gz
*.zip

demo/demo_images